*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    background-color: #141414;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 15px;
}

nav{
    flex: 10;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;

}

nav ul li{
    display: inline;
    margin-right: 10px;
}

a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    text-decoration: none;
    color:#ffffff ;
}

p{

color: #ffffff;
font-family: alliance,sans-serif ;
margin: 5px 0px;
padding: 0px 15px;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background-image: url();
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 10px 0 ;
}

.col-2 h1{
    font-family: 'Cinzel', serif;
    font-size: 50px;
    line-height:50px;
    margin: 0px 0px;
    padding: 0px 15px;
    background-image:linear-gradient(106.62deg, rgb(165, 37, 19) 6.68%, rgb(149, 35, 147) 82.69%);
    -webkit-background-clip: text;
    color: transparent;
}

.btn{
    display: inline-block;
    border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 8px 30px;
  margin: 15px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: 256ms all;
  border-radius: 20px;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.btn:hover{
    background: #000000d0;
    box-shadow: 0 0 30px 5px #ffffffd0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.btn:hover::before{
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}
.btn::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  .btn:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
.header .row{
    margin-top: 40px;
    
}
.categories{
    margin: 20px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 300px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 20px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
    
}
.title{
    text-align: center;
    margin:0 auto 80px;
    position: relative;
    line-height: 60px;
    color: aliceblue;
}
.title::after{
    content: '';
    background: #642020;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.col-4 h4{
    color: #dbdbdb;
    font-family: 'Courier New', Courier ;
}
.col-4 p{

    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.rating .fa{
    color: #dbdbdb;
}
.col-4:hover{
    transform: translateY(-5px);
}
h1{
    color: #fff;
}
.col-2 .offer-img{
    padding:50px;
}
small{
    color: #fff;
}
/*.offer{
    background: radial-gradient(#414141,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow:0 0 20px 0px rgba(255, 255, 255, 0.1) ;
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 25px;
    color: #dbc169;
}
.col-3 p{
    font-size: 15px;
    margin: 12px 0;
    color: rgb(255, 255, 255);
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: rgb(250, 215, 215);
    font-size: 20;
}

.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*----all product-----*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
    color: #fff;
}

select{
    border: 1px solid ;
    padding: 4px;
}
select:focus{
    outline: none;  
}
.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #ffffff;
    background-color: transparent;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    transition: 256ms all;
    cursor: pointer;
    color: #ffffff;
}

.page-btn span:hover{
    background-color: #fff;
    color: #000;
}
input:focus{
    outline: none;
    color: white;
}
/*--single product details--*/

.single-product{
    margin-top: 0px;
}
.single-product .col-2{
    padding: 20px;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product h3{
    color: #fff;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #fff;
}
input{
    color: #ffffff;
}
.single-product .fa{
    color: #ffffff;
    margin-left: 10px;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/*--cart iteam---*/

.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    color: #fff;
}
.porduct-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}
.product-title{
    width: 45%;
}
.price{
    width: 15%;
    
    display: flex;
    align-items: center;
}
.quantity{
    width: 30%;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
}
.total{
    width: 10%;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
}
.porducts{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 4px solid lightgray;
}
.container8{
    text-align: center;
    background-color: #000;
    padding: 10px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
  
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

h4{
    font-family: 'Cinzel', serif;
    background-image:linear-gradient(106.62deg, rgb(165, 37, 19) 6.68%, rgb(149, 35, 147) 82.69%);
    -webkit-background-clip: text;
    color: transparent;

}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
.container9{
    background-color: #000000;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}
/*
.add-cart{
    position: absolute;
    width: 100%;
    background-color: rgb(0, 0, 0);
    transition: all 0.3s ;
    cursor: pointer;
    text-align: center;
}
.image:hover .cart1{
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;  
}*/
/*--account--*/


/*-meaia query for menu-*/


@media only screen and (max-width: 800px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        /*background: #333;*/
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }

}

/*--meaia query for less than 600 screen size--*/

@media only screen and (max-width: 600px) {
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
}

/*------custum sclorbar-------*/

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #000000;
}
::-webkit-scrollbar-thumb{
    background: rgba(78, 82, 83, 0.7);
    border-radius: 10px;
}
/*end of sclor bar*/

