*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 15px;
}

nav{
    flex: 10;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;

}

nav ul li{
    display: inline;
    margin-right: 10px;
}

a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    text-decoration: none;
    color:#ff5151 ;
}

p{

color: #857171;
font-family: alliance,sans-serif ;
margin: 0 0px
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 10px 0 ;
}

.col-2 h1{
    font-family: 'Cinzel', serif;
    font-size: 50px;
    line-height:50px;
    margin: 0px 0px;
    color: #dbdbdb;
}

.btn{
    display: inline-block;
    border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: 256ms all;
  border-radius: 20px;
}
.btn:hover{
    background-color: #fff;
    color: #000;
}
.header .row{
    margin-top: 40px;
    
}
.categories{
    margin: 20px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 300px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 20px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
    
}
.title{
    text-align: center;
    margin:0 auto 80px;
    position: relative;
    line-height: 60px;
    color: aliceblue;
}
.title::after{
    content: '';
    background: #642020;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.col-4 h4{
    color: #dbdbdb;
    font-family: 'Courier New', Courier ;
}
.col-4 p{

    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.rating .fa{
    color: #dbdbdb;
}
.col-4:hover{
    transform: translateY(-5px);
}
h1{
    color: #fff;
}
.col-2 .offer-img{
    padding:50px;
}
small{
    color: #fff;
}
/*.offer{
    background: radial-gradient(#414141,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow:0 0 20px 0px rgba(255, 255, 255, 0.1) ;
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 25px;
    color: #dbc169;
}
.col-3 p{
    font-size: 15px;
    margin: 12px 0;
    color: rgb(255, 255, 255);
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: rgb(250, 215, 215);
    font-size: 20;
}

.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*----all product-----*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
    color: #fff;
}

select{
    border: 1px solid #ffffff;
    padding: 4px;
    color: #ffffff;
}
select:focus{
    outline: none;  
}
option{
    color: #fff;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #ffffff;
    background-color: transparent;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    transition: 256ms all;
    cursor: pointer;
    color: #ffffff;
}

.page-btn span:hover{
    background-color: #fff;
    color: #000;
}
input:focus{
    outline: none;
    color: white;
}
/*--single product details--*/

.single-product{
    margin-top: 0px;
}
.single-product .col-2{
    padding: 20px;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product h3{
    color: #fff;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #fff;
}
input{
    color: #ffffff;
}
.single-product .fa{
    color: #ffffff;
    margin-left: 10px;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/*--cart iteam---*/

.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    color: #fff;
}
.porduct-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}
.product-title{
    width: 45%;
}
.price{
    width: 15%;
    
    display: flex;
    align-items: center;
}
.quantity{
    width: 30%;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
}
.total{
    width: 10%;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
}
.porducts{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 4px solid lightgray;
}

/*
.add-cart{
    position: absolute;
    width: 100%;
    background-color: rgb(0, 0, 0);
    transition: all 0.3s ;
    cursor: pointer;
    text-align: center;
}
.image:hover .cart1{
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;  
}*/
/*--account--*/


/*-meaia query for menu-*/


@media only screen and (max-width: 800px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        /*background: #333;*/
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }

}

/*--meaia query for less than 600 screen size--*/

@media only screen and (max-width: 600px) {
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
}

/*------custum sclorbar-------*/

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #000000;
}
::-webkit-scrollbar-thumb{
    background: rgba(78, 82, 83, 0.7);
    border-radius: 10px;
}
/*end of sclor bar*/

